body {
    margin: 100;
    padding: 20;
    font-family: Helvetica;
  }
  
  header {
    background-color: #7CB07C;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    font-family: Helvetica;

  }

  div.card {
    background-color: #7CB07C;
    height: 250px;
    width: 250px; 
    box-shadow: 5px 5px grey;
    padding: 25px;
    border-radius: 5px;
    margin: 20px;
  }
  
  button {
    font-size: 1.5em;
    color: beige;
    background-color: gray; 
    border-radius: 10px;
  }